<script type="text/template" id="view-dashboard-widget">
	<table class="form-table">
		<tr class="nr-dashboard-widget-row">
			<th scope="row">
				<label>
					<% if ( title = model.get('title') ) { %>
						<%= model.get('title') %>
					<% } else { %>
						<%= strings.visualizationTitle %>
					<% } %>
				</label>
				<% if ( description = model.get('description') ) { %>
					<p class="description"><%= description %></p>
				<% } %>
				<p class="actions">
					<a class="submitdelete" href=""><%= strings.delete %></a>
				</p>
			</th>
			<td style="display: block; max-height: 225px;">
				<input type="hidden" name="wp_nr_dashboard_widgets[<%= i %>][title]" value="<%= model.get('title') %>" />
				<input type="hidden" name="wp_nr_dashboard_widgets[<%= i %>][embedID]" value="<%= model.get('embedID') %>" />
				<input type="hidden" name="wp_nr_dashboard_widgets[<%= i %>][description]" value="<%= model.get('description') %>" />
				<div style="position: relative; width: 400px; max-width: 100%; height: 0; padding-top: 56.25%;">
					<iframe src="<% print( model.embedUrl() ) %>"
						style="position: absolute; top: 0; left: 0; width: 100%; max-width: 400px; height: 100%; max-height: 225px;"
						frameborder="0"></iframe>
				</div>
			</td>
		</tr>
	</table>
</script>
